:css
  a {text-decoration: none}

.container
  .row
    .col-sm-8
      %h1{style: "margin: 45px 0 35px 0; font-weight: bold;"}
        Upload Portfolios
        .small.text-muted{style: "font-weight: 500;"}
          and run PACTA reports on them.

      %p
        This is the webapp, it's designed to call a report generating service,
        which is presumed to be the existing PACTA process running elsewhere as an API.
        Since that hasn't been wrapped in an API yet, right now it calls a stub API
        and generates a one-page placard PDF.