
%h1
  PACTA Admin Options

%br/
%br/

%ul
  %li
    = link_to "Create new organization", new_organization_path
  %li
    = link_to "View organizations", organizations_path
    %br/
    %br/


  %li
    = link_to "Invite new user", new_user_invitation_path
  %li
    = link_to "View users", users_path
    %br/
    %br/

  %li
    View all portfolios for org: